.img-container {
  width: 500px;
  height: 500px;
}

#image {
  display: block;
  max-width: 100%;
}

.img-output,
img-output-func {
  width: 200px !important;
  height: 200px !important;
  overflow: hidden;
}

.img-output-func {
  width: 200px !important;
  height: 200px !important;
  max-width: 200px;
  max-height: 200px;
  overflow: hidden;
  border: 1px solid red;
  margin: 10px;
  img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
}
