<div class="menu menu-column menu-rounded menu-sub-indention">
  <div class="menu-item here menu-accordion">
    <!--begin:Menu link-->
    <span class="menu-link">
      <span class="menu-icon">
        <i class="fa-duotone fa-grid-2"></i>
      </span>
      <span class="menu-title">داشبورد</span>
      <i class="menu-arrow fa-duotone fa-angle-down"></i>
    </span>
    <!--end:Menu link-->
    <!--begin:Menu sub-->
    <div class="menu-sub menu-sub-accordion"
         kt-hidden-height="248">
      <!--begin:Menu item-->
      <div class="menu-item">
        <!--begin:Menu link-->
        <a class="menu-link active"
           href="/metronic8/demo1/../demo1/index.html">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">Default</span>
        </a>
        <!--end:Menu link-->
      </div>
      <!--end:Menu item-->
      <!--begin:Menu item-->
      <div class="menu-item">
        <!--begin:Menu link-->
        <a class="menu-link"
           href="/metronic8/demo1/../demo1/dashboards/ecommerce.html">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">eCommerce</span>
        </a>
        <!--end:Menu link-->
      </div>
    </div>
    <!--end:Menu sub-->
  </div>

  <div class="menu-item here menu-accordion">
    <!--begin:Menu link-->
    <span class="menu-link">
      <span class="menu-icon">
        <i class="fa-duotone fa-grid-2"></i>
      </span>
      <span class="menu-title">داشبورد</span>
      <i class="menu-arrow fa-duotone fa-angle-down"></i>
    </span>
    <!--end:Menu link-->
    <!--begin:Menu sub-->
    <div class="menu-sub menu-sub-accordion"
         kt-hidden-height="248">
      <!--begin:Menu item-->
      <div class="menu-item">
        <!--begin:Menu link-->
        <a class="menu-link active"
           href="/metronic8/demo1/../demo1/index.html">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">Default</span>
        </a>
        <!--end:Menu link-->
      </div>
      <!--end:Menu item-->
      <!--begin:Menu item-->
      <div class="menu-item">
        <!--begin:Menu link-->
        <a class="menu-link"
           href="/metronic8/demo1/../demo1/dashboards/ecommerce.html">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">eCommerce</span>
        </a>
        <!--end:Menu link-->
      </div>
    </div>
    <!--end:Menu sub-->
  </div>
</div>