<div class="menu--site">
  <i class="fa-solid fa-bars"
     (click)="toggleCompact()"></i>
  <img src="https://sohof.sata.sys/assets/sohof-label.svg"
       alt="">
</div>
<div class="menu--data">
  <div class="menu--data__bookmarks">

  </div>
</div>
<div class="menu--item">
  <!-- Ticket -->
  <div class="menu--item__link">
    <i class="fa-duotone fa-message-sms"></i>
  </div>
  <!-- Quick Links -->
  <div class="menu--item__link">
    <i class="fa-duotone fa-objects-column"></i>
  </div>
  <!-- User Links -->
  <div class="menu--item__user">
    <img src="https://preview.keenthemes.com/metronic8/demo1/assets/media/avatars/300-1.jpg"
         alt="">
  </div>
</div>